{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Bottle Builder | About Bottle Builder {% endblock %}



{% block content %}


  <h2 align="center"> About Bottle Builder </h2>

  <!-- What is a Bottle Building? -->
  <div class="panel-div">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 align="center"> What is a Bottle Building? </h2>
      </div>

      <div class="panel-body">
        <p align="center">
          In a bottle building, the walls are made by filling plastic bottles with sand, dirt or some other fill. These "bottle bricks" are then laid down in rows, with a layer of cement in between each row and column of bottles.
          <br><br>
          Not only are bottle buildings a great use of plastic bottles, they are very durable. I cannot confirm this, but according to various sources, these structures are: bulletproof, earthquake resistant, fireproof, and temperature retaining.
          <br><br>
          To find out more about bottle buildings, check out <a href="https://www.google.com/search?q=bottle+building">these search results.</a>
        </p>
      </div>

    </div>
  </div>


  <!-- What is Bottle Builder? -->
  <div class="panel-div">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 align="center"> What is Bottle Builder? </h2>
      </div>

      <div class="panel-body">
        <p align="center">
          Bottle Builder is a tool to provide a theoretical estimate of the resources that one would need to create a bottle building. The user provides the resource information (bottle type/dimensions, fill information, foundation depth, building information, etc.) and Bottle Builder estimates the number of bottles, the amount of fill and the amount of cement needed for this building.
          <br><br>
          Bottle Builder is NOT: a tool to calculate structural integrity, a tool for determining the building codes in a user's location, nor is it a tool to give a 100% accurate calculation of necessary resources.
        </p>
      </div>

    </div>
  </div>


  <!-- I already have a house, what use is this to me? -->
  <div class="panel-div">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 align="center"> I already have a house, what use is this to me? </h2>
      </div>

      <div class="panel-body">
        <p align="center">
          You don't need to build a whole house to take advantage of this cool sustainable building technique!
          <br><br>
          Some possible structures you can build: doggie homes, greenhouses, sheds.
        </p>
      </div>

    </div>
  </div>

{% endblock %}
