
<!DOCTYPE html>
<html>

	<head>
		<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

		<!-- include dependencies -->

		<!-- jQuery 3.2.1 -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		{% block import_headers %}{% endblock %}

	</head>

	<body>
		<!-- include nav bar -->
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Bottle Builder</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">

					<!-- About Link -->
					<li><a href="/about">About</a></li>

					<!-- Design Building Link -->
					<li><a href="/design_bottle_building">Design Building</a></li>

          {% if user.is_authenticated %}
            <li><a href="/view_profile/">View Profile</a></li>
          {% endif %}

		      </ul>


		      <ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}


            <li><a href="/change_password_page/">Change Password</a></li>

						<!-- Logout link -->
						<li><a href="/logout/">Logout</a></li>

					{% else %}
            <li><a href="/forgot_credentials_page/">Forgot Credentials</a></li>
						<li><a href="/login_page/">Login/Create Account</a></li>
					{% endif %}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<!-- End of Navbar -->

		<!-- Detect Whether JS is Enabled -->
		<h3 align="center" id="js_enabled_heading">JavaScript is not enabled.  Please enable it for the site to work.</h3>

		<script type="text/javascript">
			document.getElementById("js_enabled_heading").innerHTML = "";
		</script>

		<style>

      .alert{
        text-align: center;
      }

			.panel{
				border-color: rgb(230,236,240);
				background-color: rgb(250, 250, 250);
			}

			body{
				background-color: rgb(255, 255, 255);
			}

      /* Small Devices */
      @media screen and (max-width: 768px){
        .panel-div{
            padding-left: 2%;
            padding-right: 2%;
        }
      }

      /* Bigger Devices */
      @media screen and (min-width: 768px){
        .panel-div{
          padding-left: 6%;
          padding-right: 6%;
        }
      }

		</style>

    <!-- Alert for Disclaimer -->
      <div class="alert alert-info alert-dismissable" role="alert" data-toggle="collapse" data-target="#disclaimer">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Disclaimer: (Click or Tap Here to Expand/Collapse)
        <div id="disclaimer" class="collapse">
          This has not been tested in real life. This site claims to generate a theoretical estimate of the resources needed for a particular bottle building design.<br>
          This site does not determine structural integrity of a building design, nor does it deal with local laws or building codes.<br>
          The user assumes all risk.<br>
          The estimate also fails to take into account any pillars that may be needed.<br>
          The estimate assumes that the density of concrete is 1400 kg/cubic meter (87.39 lb/cubic foot).<br>
        </div>
      </div>


      <!-- bad alert, good alert -->
      <script src="/static/js/alert-scripts.js"></script>
      <div class="alert alert-danger" id="bad_alert" style="display: none;" role="alert"></div>
      <div align="center" class="alert alert-success alert-dismissible" id="good_alert" style="display:none;" role="alert"></div>



		{% block content %}{% endblock %}
	</body>

</html>
