{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Bottle Builder | Change Password for {{username}} {% endblock %}



{% block content %}

<div class="panel-div">
  <div class="panel panel-default">

    <div class="panel-heading">
			<h2 align="center"> Change Password for {{username}}</h2>
    </div>

    <div class="panel-body">

      <form align="center" onsubmit="change_password_form_submitted(); return false;">
        <input type="password" autocomplete="current-password" class="form-control" id="current_password_input" align="center" placeholder="Enter Current Password">
        <input type="password" autocomplete="new-password" class="form-control" id="new_password_input" align="center" placeholder="Enter New Password">
        <input type="password" autocomplete="new-password" class="form-control" id="confirm_new_password_input" align="center" placeholder="Confirm Password">

        <input type="submit" class="btn btn-primary form-control" id="change_password_submit_button" align="center" value="Reset My Password">
      </form>

    </div>

  </div>
</div>

<script>
  function get_csrf(){
    return "{{csrf_token}}";
  }
</script>

<script src="/static/change_password/js/on_submit_change_password.js"></script>


{% endblock %}
