{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Bottle Builder | Change Password for {{username}} {% endblock %}



{% block content %}

<div class="panel-div">
  <div class="panel panel-default">

    <div class="panel-heading" style="text-align:center">
			<h2 align="center"> Change Password for {{username}}</h2>
      <a href="/forgot_credentials_page/"> Forgot your password?</a>
    </div>

    <div class="panel-body">

      <form align="center" onsubmit="change_password_form_submitted(); return false;">
        <input type="password" autocomplete="current-password" class="form-control" id="current_password_input" align="center" placeholder="Enter Current Password">
        <input type="password" autocomplete="new-password" class="form-control" id="new_password_input" align="center" placeholder="Enter New Password">
        <input type="password" autocomplete="new-password" class="form-control" id="confirm_new_password_input" align="center" placeholder="Confirm Password">

        <button type="submit" class="btn btn-primary form-control" id="change_password_submit_button" align="center">
          Set Password
          <!-- Spinner, Courtesy of: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader -->
          <div id="submit_loader" align="center" class="loader" style="display:none;"></div>

          <style>
            .loader {
              border: 3px solid #f3f3f3;
              border-radius: 50%;
              border-top: 3px solid #3498db;
              width: 20px;
              height: 20px;
              -webkit-animation: spin 2s linear infinite; /* Safari */
              animation: spin 2s linear infinite;
            }

            /* Safari */
            @-webkit-keyframes spin {
              0% { -webkit-transform: rotate(0deg); }
              100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
          </style>
        </button>
      </form>

    </div>

  </div>
</div>

<script>
  function get_csrf(){
    return "{{csrf_token}}";
  }
</script>

<script src="/static/change_password/js/on_submit_change_password.js"></script>


{% endblock %}
