{% extends "base.html" %}

{% load staticfiles %}


{% block title %} Bottle Builder | Create Account {% endblock %}


{% block content %}

<div class="panel-div">
  <div class="panel panel-default">

    <div class="panel-heading">
			<h2 align="center"> Create Account </h2>
    </div>

    <div class="panel-body">
			<br>

	    <form align="center" id="create_account_form" style="padding-left:20%; padding-right:20%">
	        {% csrf_token %}
          <script>
            function get_token(){
              return "{{csrf_token}}";
            }

            $("#bad_alert").html("Error:");
            $("#good_alert").html("Account Created Successfully, Please Check E-mail to Verify Your Account");
          </script>

	        <input align="center" class="form-control" type="email" name="email" id="email" placeholder="E-mail" maxlength="50">
	        <input align="center" class="form-control" type="text" name="username" id="username" placeholder="Username" maxlength="30">
	        <input align="center" class="form-control" type="password" name="password" id="password" placeholder="Password" maxlength="30">
	        <input align="center" class="form-control" type="password" id="confirm_password" placeholder="Confirm Password" maxlength="30">
	        <br>
	        <button align="center" class="form-control btn btn-primary" type="submit" id="submit_button">Create Account</button>

	    </form>

    </div>

  </div>
</div>






    <script src="/static/create_account/js/validate_input_client_side.js"></script>
    <script src="/static/create_account/js/on_form_submit.js"></script>



{% endblock %}
