{% extends "base.html" %}

{% load staticfiles %}


{% block title %} Bottle Builder | Create Account {% endblock %}


{% block content %}

	<h2 align="center"> Create Account </h2>
    <br>

    <form align="center" id="create_account_form" style="padding-left:20%; padding-right:20%">
        {% csrf_token %}

        <div align="center" class="form-control alert alert-danger alert-dismissible" id="bad_alert" style="display:none;" role="alert">
            Error:<br><br><br>
        </div>
        <div align="center" class="form-control alert alert-success alert-dismissible" id="good_alert" style="display:none;" role="alert">
            Account Created Successfully, Please Check E-mail to Verify Your Account
            <br><br><br>
        </div>

        <input align="center" class="form-control" type="email" name="email" id="email" placeholder="E-mail" maxlength="50">
        <input align="center" class="form-control" type="text" name="username" id="username" placeholder="Username" maxlength="30">
        <input align="center" class="form-control" type="password" name="password" id="password" placeholder="Password" maxlength="30">
        <input align="center" class="form-control" type="password" id="confirm_password" placeholder="Confirm Password" maxlength="30">
        <br>
        <button align="center" class="form-control btn btn-primary" type="submit" id="submit_button">Create Account</button>

    </form>

    <script src="/static/js/alert-scripts.js"></script>
    <script src="/static/create_account/js/validate_input_client_side.js"></script>
    <script src="/static/create_account/js/on_form_submit.js"></script>



{% endblock %}
