{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Bottle Builder | Design Bottle Building {% endblock %}


{% block import_headers %}

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.css' type='text/css'/>

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />

    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>

{% endblock %}



{% block content %}


    <script>
      function get_token(){
        return "{{csrf_token}}";
      }
    </script>


    <!-- Spinner, Courtesy of: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader -->
    <style>
        #map_to_draw_building{
            height: 380px;
            width: 100%;
        }

        #map_to_draw_building *:not(.map_loader) {
          z-index:0;
        }


        .map_loader{
          border: 8px solid #f3f3f3;
          border-radius: 50%;
          border-top: 8px solid #3498db;
          width: 100px;
          height: 100px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
          position: absolute;
          top: calc(50% - 50px);
          left: calc(50% - 50px);
          z-index:1;
        }


        .loader {
          border: 3px solid #f3f3f3;
          border-radius: 50%;
          border-top: 3px solid #3498db;
          width: 20px;
          height: 20px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
        }


        /* Safari */
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }


        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

    </style>

    <div class="panel-div">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2 align="center">Design Bottle Building</h2>
        </div>

        <div class="panel-body">


          <form id="building_design_form">
              {% csrf_token %}



              {% if user.is_authenticated %}

              <!-- Enter Building Title -->
              <label for="building_title_input" id="building_title_label">Building Title: (max: 40 characters)</label>
              <input type="text" maxLength="40" class="form-control" id="building_title_input" required><br>


              <!-- Privacy Checkboxes -->
              <h5>Share with:</h5>
              <div class="checkbox">
                  <label><input id="visible_to_public_checkbox" type="checkbox" value="">Public</label>
              </div>

              <div class="checkbox">
                  <label><input id="visible_to_members_checkbox" type="checkbox" value="">Site members</label>
              </div>

              <div class="checkbox">
                  <label><input id="visible_to_link_checkbox" type="checkbox" value="">Those with the link</label>
              </div><br><br>
              {% else %}

              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-warning-sign"></span>
                Please note that you must login to post your building design
              </div>

              {% endif %}



              <!-- Measurement System Radio Buttons -->
              <label class="radio-inline">
                <input type="radio" id="imperial_radio" name="measurement_system_radio" onclick="set_page_to_imperial();"/>Use Imperial System
              </label>
              <label class="radio-inline">
                <input type="radio" id="metric_radio" name="measurement_system_radio" onclick="set_page_to_metric();" />Use Metric System
              </label><br><br>

              <br>
              <!-- Alert for map bug -->
                <div class="alert alert-info alert-dismissable" role="alert">
                  <span class="glyphicon glyphicon-warning-sign"></span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  Sometimes the map tiles turn white, and all you need to do is alter the map slightly (zoom in/out, move left/right/up/down, etc.)
                </div>

              <!-- Map label -->
              <label for="map_to_draw_building" id="map_label">Please draw the perimeter of your new building
              in the map below.</label>

              <!-- Need Help Popover -->
              <a id="help_popover" style="display:inline-block; float:right;" data-original-title="help_popover_toggle" title="Map Help" data-placement="bottom" data-html="true" >
                  Need Help?
                  <script>
                      // POPOVER FUNCTIONALITY


                      function close_popover(){
                        // close popover
                        $('#'+$('#help_popover').attr('aria-describedby')).css('display', 'none');
                      }


                      $(document).ready(function(){


                          // set popover
                          $('[data-original-title="help_popover_toggle"]').popover();


                          // declare building popover html
                          var help_popover_html = '';

                          // include button to close popover
                          help_popover_html = help_popover_html + `<button type="button" class="btn btn-danger btn-sm" onclick="close_popover()"> <span class="glyphicon glyphicon-remove"></span> </button><br>`;


                          // add first description and image
                          help_popover_html = help_popover_html + "<h5> Start the building perimeter polygon by clicking the draw button.</h5>";
                          help_popover_html = help_popover_html + "<div class='embed-responsive embed-responsive-4by3'><img class='embed-responsive-item' src='/static/images/help/start-polygon.png'></img></div><br>";

                          // add second description and image
                          help_popover_html = help_popover_html + "<h5> If you make a mistake, press the trash button to scrap the polygon you drew.</h5>";
                          help_popover_html = help_popover_html + "<div class='embed-responsive embed-responsive-4by3'><img class='embed-responsive-item' src='/static/images/help/scrap-polygon.png'></img></div><br>";

                          // add third description and image
                          help_popover_html = help_popover_html + "<h5> When you are finished drawing the polygon, you need to close it by clicking on the first point drawn. In the below example, the polygon was drawn A->B->C. Therefore, the user must click on A after they drew C.</h5>";
                          help_popover_html = help_popover_html + "<div class='embed-responsive embed-responsive-4by3'><img class='embed-responsive-item' src='/static/images/help/close-polygon.png'></img></div>";


                          // set html of popover
                          $("#help_popover").attr("data-content", help_popover_html);


                          // dismiss popovers on click outside popover
                          $("html").on('click', function(event){
                            /*
                            Related StackOverflow answer
                            http://stackoverflow.com/a/19638199/275333 */
                            if (typeof $(event.target).data('original-title') == 'undefined' &&
                               !$(event.target).parents().is('.popover.in')) {

                                  $('[data-original-title]').popover('hide');
                              }

                          });


                      });
                  </script>

              </a>
              <br>





              <!-- Map -->
              <div id="map_to_draw_building">
                <div id="map_loader" align="center" class="map_loader"></div>

              </div><br>


              <!-- Enter Building Height -->
              <label for="building_height_input" id="building_height_label"></label>
              <input type="number" class="form-control" id="building_height_input" step="0.01" min="0" required><br>

              <!-- Enter Foundation Depth -->
              <label for="foundation_depth_input" id="foundation_depth_label"></label>
              <input type="number" class="form-control" id="foundation_depth_input" step="0.01" min="0" required><br>


              <!-- Enter Width Between Bottles -->
              <label for="width_between_bottles_input" id="width_between_bottles_label"></label>
              <input type="number" class="form-control" id="width_between_bottles_input" min="0" required><br>

              <!-- Enter Bottle Fill Density -->
              <label for="bottle_fill_density_dropdown" id="bottle_fill_density_dropdown_label"></label>

               <div id="bottle_fill_density_dropdown" class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="bottle_fill_density_dropdown_button" type="button" data-toggle="dropdown">Select Bottle Fill Material/Density
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a id="dry_dirt_selected"></a></li>
                  <li><a id="dry_sand_selected"></a></li>
                  <li><a id="manual_entry_selected">Custom, (Enter Manually)</a></li>
                </ul>
              </div><br>

              <input type="number" style="display:none" class="form-control" id="manual_entry_bottle_fill_density" min="0"><br>


              <!-- Enter Bottle Volume -->
              <label for="bottle_volume_input" id="bottle_volume_label"></label>
              <input type="number" class="form-control" id="bottle_volume_input" min="0" required><br>

              <!-- Enter Bottle Diameter -->
              <label for="bottle_diameter_input" id="bottle_diameter_label"></label>
              <input type="number" class="form-control" id="bottle_diameter_input" min="0" required><br>

              <!-- Enter Bottle Height -->
              <label for="bottle_height_input" id="bottle_height_label"></label>
              <input type="number" class="form-control" id="bottle_height_input" min="0" required><br><br>

              <div class="btn-group btn-group-justified" role="group">
                <!-- Generate Resource Estimate Button -->
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default" id="generate_resource_estimate_button" onclick="generate_resource_estimate_html()">Estimate Resources<br>(In Depth)</button>
                </div>



                <!-- Post Building Design -->
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default" id="post_design_button">

                  </button>
                </div>
              </div>

          </form>

          <br>
          <!-- Resource Estimate Table Here -->
          <div align="center" id="resource_estimate_table_div"></div>

        </div>

      </div>
    </div>









    <!-- ---------------------------------------- -->

    <script src="/static/design_building/js/density_dropdown.js"></script>
    <script src="/static/design_building/js/measurement_system.js"></script>
    <script src="/static/design_building/js/resource_estimation.js"></script>
    <script src="/static/design_building/js/validate_and_store_form_data.js"></script>
    <script src="/static/design_building/js/manage_ui.js"></script>
    <script src="/static/js/cookie-stuff.js"></script>

    <script>



    {% if use_imperial_system %}

        // check radio button
        document.getElementById("imperial_radio").checked = true;

        // update page
        set_page_to_imperial();
    {% else %}

        // check radio button
        document.getElementById("metric_radio").checked = true;

        // update page
        set_page_to_metric();

    {% endif %}



    {% if user.is_authenticated %}
        // set text and onclick of post button
        $("#post_design_button").html(`Post
          <br>Building Design
          <div id="submit_loader" align="center" class="loader" style="display:none;"></div>
          `);
        $("#post_design_button").attr("onclick", "post_building_design()");
    {% else %}
        // set text and onclick of post button
        $("#post_design_button").html("Login to Post.<br>You will lose progress.");
        $("#post_design_button").attr("onclick", "document.location = '/login_page';");

    {% endif %}




    </script>


    <script src="/static/design_building/js/map_script.js"></script>


{% endblock %}
