{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Bottle Builder | Forgot Credentials/Account Activation {% endblock %}



{% block content %}


<div class="panel-div">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h2 align="center">Forgot Credentials/Account Activation</h2>
    </div>

    <div class="panel-body" style="padding-left:10%; padding-right:10%;">

        <!-- Forgot Username Button -->
        <input type="button" class="btn btn-default form-control" id="forgot_username_button" align="center" value="Forgot Username?" onclick="show_username_form();"><br>

        <!-- Forgot Username form -->
        <form align="center" id="forgot_username_form" style="display:none;" onsubmit="forgot_username_form_submitted(); return false;">
          <input type="email" class="form-control" id="forgot_username_email_input" align="center" placeholder="Email Address">
          <input type="submit" class="btn btn-primary form-control" id="forgot_username_submit_button" align="center" value="Email Me My Username">
          <br>
        </form>


        <!-- Forgot Password Button -->
        <input type="button" class="btn btn-default form-control" id="forgot_password_button" align="center" value="Forgot Password?" onclick="show_password_form();"><br>

        <!-- Forgot Password form -->
        <form align="center" id="forgot_password_form" style="display:none;">
          <input type="email" class="form-control" id="forgot_password_email_input" align="center" placeholder="Email Address">
          <input type="submit" class="btn btn-primary form-control" id="forgot_password_submit_button" align="center" value="Email Me the Password Reset Link">
          <br>
        </form>


        <!-- Activate Account Button -->
        <input type="button" class="btn btn-default form-control" id="activate_account_button" align="center" value="Activate Account" onclick="show_activation_form();"><br>

        <!-- Activate Account form -->
        <form align="center" id="activate_account_form" style="display:none;">
          <input type="email" class="form-control" id="activate_account_email_input" align="center" placeholder="Email Address">
          <input type="submit" class="btn btn-primary form-control" id="activate_account_submit_button" align="center" value="Email Me the Activation Link">
          <br>
        </form>



    </div>

  </div>
</div>


<script src="/static/forgot_credentials/js/manage_ui.js"></script>
<script src="/static/forgot_credentials/js/on_form_submit.js"></script>

{% endblock %}
