{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Bottle Builder | Home {% endblock %}

{% block import_headers %}

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />

    <script src="https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js"></script>

{% endblock %}


{% block content %}

  <script>
    function get_token(){
      return "{{csrf_token}}";
    }

    function delete_building(primary_key){
      $.ajax({
        url: "/delete_bottle_building/building_id="+primary_key+"/",
        type: "POST",
        data: {"csrfmiddlewaretoken":get_token()},
        success: function(response){
          hide_bad_alert();
          set_message_good_alert(JSON.stringify(response));
          show_good_alert();

          // redirect
          document.location = "/";

        },
        error: function(xhr, error_message, err){
          var response = xhr.responseJSON;

          hide_good_alert();
          set_message_bad_alert(JSON.stringify(response));
          show_bad_alert();

        }

      });
    }

  </script>

	<h2 align="center"> Welcome to Bottle Builder </h2>

  {% if building_designs %}{% else %}
  <h4 align="center"> No Public Designs to Display </h4>
  {% endif %}

    {% for building_design in building_designs %}



      <div class="panel-div">
      <div class="panel panel-default">
        <div class="panel-heading" style="overflow: auto;">


          {% if request.user.is_authenticated and request.user.pk == building_design.building.created_by.pk %}
          <!-- Delete Building -->
            <button class="btn btn-default" onclick="delete_building('{{building_design.building.pk}}');" id="delete_link_{{building_design.building.pk}}" style="display:inline-block; float:left;">
                <span class="glyphicon glyphicon-trash"></span> </button>
          {% endif %}

          <!-- Edit Privacy -->
            <a id="building_popover_{{building_design.building.pk}}" style="display:inline-block; float:right;" data-toggle="building_popover_toggle_{{building_design.building.pk}}" title="More" data-html="true" >
                <span id="building_popover_glyphicon_{{building_design.building.pk}}" ></span>


                <script>
                    // POPOVER FUNCTIONALITY

                    $(document).ready(function(){


                        // set popover
                        $('[data-toggle="building_popover_toggle_{{building_design.building.pk}}"]').popover();


                        // declare building popover html
                        var building_popover_html = '';


                        // include viewable at link
                        building_popover_html = building_popover_html + "URL: <a style='display:inline-block; text-align:center;' href='{{building_design.building.link}}'>Building Design Viewable Here</a>";


                            // if user is creator of building, enable radio buttons
                            if("{{request.user.pk}}" == "{{building_design.building.created_by.pk}}"){

                                // include notice that public visibility will allow public to view with link
                                // and that member visibility will allow members to view with link
                                building_popover_html = building_popover_html + "<br><br><p>Note that member visibility will allow members to view with the link, and public visibility will allow the public to view with the link.</p>";

                                // set popover glyphicon
                                document.getElementById("building_popover_glyphicon_{{building_design.building.pk}}").className = "glyphicon glyphicon-pencil";

                                // declare html for radios
                                var public_privacy_radios_html;
                                var members_privacy_radios_html;
                                var link_privacy_radios_html;



                                // =================================================================================
                                // if building is visible to public, check visible to public radio button
                                if("{{building_design.building.visible_to_public}}" == "True"){
                                    public_privacy_radios_html = '<th><input type="radio" class="radio"  name="public" id="set_visible_to_public_{{building_design.building.pk}}" checked></th>';
                                    public_privacy_radios_html = public_privacy_radios_html + '<th><input type="radio" class="radio"  name="public" id="set_invisible_to_public_{{building_design.building.pk}}"></th>';


                                // else if it is not, uncheck it
                              }else if("{{building_design.building.visible_to_public}}" == "False"){
                                    public_privacy_radios_html = '<th><input type="radio" class="radio"  name="public" id="set_visible_to_public_{{building_design.building.pk}}" ></th>';
                                    public_privacy_radios_html = public_privacy_radios_html + '<th><input type="radio" class="radio"  name="public" id="set_invisible_to_public_{{building_design.building.pk}}" checked></th>';

                                // else there is an error
                                }else{
                                    console.log("Error: Building with pk:{{building_design.building.pk}} is neither visible nor invisible to public according to data given.  Make sure injection is done properly");
                                }
                                // =================================================================================



                                // =================================================================================
                                // if building is visible to members, check visible to members radio button
                                if("{{building_design.building.visible_to_members}}" == "True"){
                                    members_privacy_radios_html = '<th><input type="radio" class="radio"  name="members" id="set_visible_to_members_{{building_design.building.pk}}" checked></th>';
                                    members_privacy_radios_html = members_privacy_radios_html + '<th><input type="radio" class="radio"  name="members" id="set_invisible_to_members_{{building_design.building.pk}}"></th>';


                                // else if it is not, uncheck it
                                }else if("{{building_design.building.visible_to_members}}" == "False"){
                                    members_privacy_radios_html = '<th><input type="radio" class="radio"  name="members" id="set_visible_to_members_{{building_design.building.pk}}" ></th>';
                                    members_privacy_radios_html = members_privacy_radios_html + '<th><input type="radio" class="radio"  name="members" id="set_invisible_to_members_{{building_design.building.pk}}" checked></th>';


                                // else there is an error
                                }else{
                                    console.log("Error: Building with pk:{{building_design.building.pk}} is neither visible nor invisible to members according to data given.  Make sure injection is done properly");
                                }
                                // =================================================================================


                                // =================================================================================
                                // if building is visible to those with link, check visible to members radio button
                                if("{{building_design.building.visible_to_those_with_link}}" == "True"){
                                    link_privacy_radios_html = '<th><input type="radio" class="radio"  name="link" id="set_visible_to_those_with_link_{{building_design.building.pk}}"  checked></th>';
                                    link_privacy_radios_html = link_privacy_radios_html + '<th><input type="radio" class="radio"  name="link" id="set_invisible_to_those_with_link_{{building_design.building.pk}}" ></th>';


                                // else if it is not, uncheck it
                                }else if("{{building_design.building.visible_to_those_with_link}}" == "False"){
                                    link_privacy_radios_html = '<th><input type="radio" class="radio"  name="link" id="set_visible_to_those_with_link_{{building_design.building.pk}}"  ></th>';
                                    link_privacy_radios_html = link_privacy_radios_html + '<th><input type="radio" class="radio"  name="link" id="set_invisible_to_those_with_link_{{building_design.building.pk}}" checked></th>';


                                // else there is an error
                                }else{
                                    console.log("Error: Building with pk:{{building_design.building.pk}} is neither visible nor invisible to those with the link according to data given.  Make sure injection is done properly");
                                }
                                // =================================================================================




                                var edit_privacy_html = `


                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Visible<span class="glyphicon glyphicon-eye-open" > </span> </th>
                                                <th>Invisible<span class="glyphicon glyphicon-eye-close" > </span> </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <th>Public <span class="glyphicon glyphicon-globe"></span></th>
                                                `+public_privacy_radios_html+`
                                            </tr>

                                            <tr>
                                                <th>Members <span class="glyphicon glyphicon-user"></span></th>
                                                `+members_privacy_radios_html+`
                                            </tr>

                                            <tr>
                                                <th>Those with the link <span class="glyphicon glyphicon-link"></span></th>
                                                `+link_privacy_radios_html+`
                                            </tr>
                                        </tbody>

                                    </table>

                                    <!-- Apply Changes Button -->
                                    <button type="button" id="apply_changes_button_{{building_design.building.pk}}" class="btn btn-primary btn-block" onclick="apply_privacy_changes({{building_design.building.pk}});" disabled>Apply Changes</button>
                                    <br>
                                    `;



                                // include edit privacy popover html
                                building_popover_html = building_popover_html + edit_privacy_html;


                                // add click listener to radio buttons
                                // to enable apply changes button
                                building_popover_html = building_popover_html + `<script>

                                        $('#set_visible_to_public_{{building_design.building.pk}}').click(function(){
                                            document.getElementById('apply_changes_button_{{building_design.building.pk}}').disabled = false;
                                        });
                                        $('#set_invisible_to_public_{{building_design.building.pk}}').click(function(){
                                            document.getElementById('apply_changes_button_{{building_design.building.pk}}').disabled = false;
                                        });


                                        $('#set_visible_to_members_{{building_design.building.pk}}').click(function(){
                                            document.getElementById('apply_changes_button_{{building_design.building.pk}}').disabled = false;
                                        });
                                        $('#set_invisible_to_members_{{building_design.building.pk}}').click(function(){
                                            document.getElementById('apply_changes_button_{{building_design.building.pk}}').disabled = false;
                                        });


                                        $('#set_visible_to_those_with_link_{{building_design.building.pk}}').click(function(){
                                            document.getElementById('apply_changes_button_{{building_design.building.pk}}').disabled = false;
                                        });
                                        $('#set_invisible_to_those_with_link_{{building_design.building.pk}}').click(function(){
                                            document.getElementById('apply_changes_button_{{building_design.building.pk}}').disabled = false;
                                        });
                                        <\/script>`;


                            // if user is not the owner, change popover glyphicon
                            }else{
                                // set popover glyphicon
                                document.getElementById("building_popover_glyphicon_{{building_design.building.pk}}").className = "glyphicon glyphicon-info-sign";

                            }



                            // set html of popover
                            $("#building_popover_{{building_design.building.pk}}").attr("data-content", building_popover_html);

                    });
                </script>

            </a>



          <!-- Building Title -->
            <h3 class="building_panel" align="center" style="text-align:center;"><a href="/view_bottle_building/building_id={{building_design.building.pk}}">"{{building_design.building.title}}", created by {{building_design.building.created_by}}</a></h3>


        </div>
        <div class="panel-body" style="overflow: auto;">

          <!-- Alert for map bug -->
            <div class="alert alert-info alert-dismissable" role="alert">
              <span class="glyphicon glyphicon-warning-sign"></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Sometimes the map tiles turn white, and all you need to do is alter the map slightly (zoom in/out, move left/right/up/down, etc.)
              Also, sometimes the polygon representing your design glitches and you need to zoom out in order to see the full polygon.
            </div>

          <!-- Map -->
          <div id="display_map_{{building_design.building.pk}}" style="height: 380px; width: 100%;"></div>

          <h5 align="center">Building Height: {{building_design.building.building_height}} {{building_design.building.building_height_units}}</h5>

          <!-- table -->
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th># Bottles ({{building_design.building.bottle_units}})</th>
                      <th>Bottle Fill ({{building_design.building.fill_units}})</th>
                      <th>Cement ({{building_design.building.cement_units}})</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td id="bottle_estimate_{{building_design.building.pk}}">{{building_design.building.bottle_estimate}}</td>
                      <td id="fill_estimate_{{building_design.building.pk}}">{{building_design.building.fill_estimate}}</td>
                      <td id="cement_estimate_{{building_design.building.pk}}">{{building_design.building.cement_estimate}}</td>
                  </tr>
              </tbody>
          </table>

        </div></div></div>

    {% endfor %}
    <!-- Link external apply privacy changes script -->
      <script src="/static/view_buildings/js/apply_privacy_changes.js"></script>




    <script>
        $(document).ready(function (){

            mapboxgl.accessToken = 'pk.eyJ1IjoiZnVlcnRlbnVldmFjYXNhIiwiYSI6ImNqMGgzdTg5ZzAydnEyd3J1cHF4eG54eHUifQ.Aikx4qEIowhrKbSVhNEpRw';

            // MAP AND TABLE UPDATES

            {% for building_design in building_designs %}
              // fix bottle estimate labels
              var bottle_estimate_{{building_design.building.pk}} = parseInt($("#bottle_estimate_{{building_design.building.pk}}").html());
              $("#bottle_estimate_{{building_design.building.pk}}").html(bottle_estimate_{{building_design.building.pk}}.toLocaleString());


              // fix fill estimate labels
              var fill_estimate_{{building_design.building.pk}} = parseFloat($("#fill_estimate_{{building_design.building.pk}}").html());
              $("#fill_estimate_{{building_design.building.pk}}").html(fill_estimate_{{building_design.building.pk}}.toLocaleString());


              // fix cement estimate labels
              var cement_estimate_{{building_design.building.pk}} = parseFloat($("#cement_estimate_{{building_design.building.pk}}").html());
              $("#cement_estimate_{{building_design.building.pk}}").html(cement_estimate_{{building_design.building.pk}}.toLocaleString());


              // initialize coordinates array
              var coordinates_{{building_design.building.pk}} = [];
              // track center point
              var building_center = [0.0, 0.0];
              var num_coordinates = 0;

              // track most extreme coordinates
              var min_lng_coord = [];
              var max_lng_coord = [];

              var min_lat_coord = [];


              {% for coordinate in building_design.coordinates.all %}

              // update the sum coordinate
              building_center[0] += {{coordinate.longitude}};
              building_center[1] += {{coordinate.latitude}};

              // push the current coordinate to the coordinates array
              coordinates_{{building_design.building.pk}}.push([{{coordinate.longitude}}, {{coordinate.latitude}}]);

              // increment num_coordinates in building
              num_coordinates += 1;

              {% endfor %}

              // calculate average of all coordinates
              building_center[0] = building_center[0] / num_coordinates;
              building_center[1] = building_center[1] / num_coordinates;


              // create map
              var map_{{building_design.building.pk}} = new mapboxgl.Map({
                  container: 'display_map_{{building_design.building.pk}}',
                  style: 'mapbox://styles/mapbox/satellite-streets-v9',
                  center: building_center, // longitude, latitude
                  zoom: 3,
              });


              // Assistance zooming to drawn polygon from: https://bl.ocks.org/danswick/83a8ddff7fb9193176a975a02a896792


              // store data for polygon of building
              var geojson_{{building_design.building.pk}} = {
                "type": "FeatureCollection",
                "features": [
                  {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [coordinates_{{building_design.building.pk}}]
                    }
                  }
                ]
              };

              // get bounds of polygon
              var bbox_{{building_design.building.pk}} = turf.extent(geojson_{{building_design.building.pk}});


              // listen for map load finish
              map_{{building_design.building.pk}}.on('load', function(){

                  // add data source for polygon
                  map_{{building_design.building.pk}}.addSource('geojson-{{building_design.building.pk}}', {
                      "type": "geojson",
                      "data": geojson_{{building_design.building.pk}}
                  });


                  // add polygon to map
                  map_{{building_design.building.pk}}.addLayer({
                      "id": "geojsonLayer",
                      "type": "fill",
                      "source": "geojson-{{building_design.building.pk}}",
                      "paint": {
                          "fill-color": "#000fff",
                          "fill-opacity": 0.35
                      }
                  });

                  // fit map to polygon of building
                  map_{{building_design.building.pk}}.fitBounds(bbox_{{building_design.building.pk}}, {padding: 20});

              });
            {% endfor %}

        });
    </script>


{% endblock %}
