{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Bottle Builder | Reset Password {% endblock %}



{% block content %}


<div class="panel-div">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h2 align="center">Reset Password for Account: {{username}}</h2>
    </div>

    <div class="panel-body" >

      <form align="center" onsubmit="reset_password_form_submitted(); return false;">
        <input type="password" autocomplete="new-password" class="form-control" id="password_input" align="center" placeholder="Enter New Password">
        <input type="password" autocomplete="new-password" class="form-control" id="confirm_password_input" align="center" placeholder="Confirm Password">
        <input type="submit" class="btn btn-primary form-control" id="reset_password_submit_button" align="center" value="Reset My Password">
      </form>


    </div>

  </div>
</div>

<script>
  function get_uid(){
    return "{{uid}}";
  }
  function get_token(){
    return "{{token}}";
  }

</script>
<script src="/static/forgot_credentials/js/on_submit_reset_password.js"></script>


{% endblock %}
